<html>
  <head>
    <title>Orizon | Home</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <h3>Welcome to Orizon! Select a page to start</h3>

    <nav>
      <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
      </ul>
    </nav>
  </body>
</html>
